body{
    background: #E5E5E5;
}
.block1{
    position: absolute;
    width: 1680px;
    height: 750px;
    left: 0px;
    top: 0px;
    background: url(../Img/road-g9875459d1_19201.jpg);
}
.logo1{
    position: absolute;
    width: 139px;
    height: 64.22px;
    left: 240px;
    top: 22px;

}
.main{
    position: absolute;
    width: 40px;
    height: 23px;
    left: 662px;
    top: 41px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.line0{
    position: absolute;
    width: 39px;
    height: 2px;
    left: 662px;
    top: 64px;

    background: #FFFFFF;
}
.ourservices{
    position: absolute;
    width: 106px;
    height: 23px;
    left: 737px;
    top: 42px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
    text-decoration: none;
}
.about{
    position: absolute;
    width: 52px;
    height: 23px;
    left: 878px;
    top: 41px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
    text-decoration: none;
}
.contacts{
    position: absolute;
    width: 84px;
    height: 23px;
    left: 965px;
    top: 41px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
    text-decoration: none;
}
.keepingyou{
    position: absolute;
    width: 791px;
    height: 125px;
    left: 240px;
    top: 217px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    /* or 72px */

    text-transform: uppercase;

    color: #FFFFFF;
}
.showmore{
    position: absolute;
    width: 198px;
    height: 50px;
    left: 240px;
    top: 430px;

    background: #DB2512;
}
.showmore2{
    position: absolute;
    width: 102px;
    height: 27px;
    left: 45px;
    top: -5px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    color:  #FFFFFF;
}
.phone{
    position: absolute;
    width: 386px;
    height: 196px;
    left: 240px;
    top: 652px;

    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    transform: rotate(1deg);
}
.calendar{
    position: absolute;
    width: 386px;
    height: 196px;
    left: 647px;
    top: 652px;

    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    transform: rotate(1deg);
}
.map{
    position: absolute;
    width: 386px;
    height: 196px;
    left: 1055px;
    top: 652px;

    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    transform: rotate(1deg);
}
.phone2,.calendar2,.map2{
    position: absolute;
    left: 10%;
    right: 0%;
    top: 20%;
    bottom: 0%;
}
.callus,.getfreeapointment,.findusonmap{
    position: absolute;
    left: 10%;
    top: 35%;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #000000;
}
.feelfree{
    position: absolute;
    left: 10%;
    top: 65%;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    color: #B7B7B7;
}
.Newyourk{
    position: absolute;
    left: 10%;
    top: 65%;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    color: #B7B7B7;
}
.ourservices2{
    position: absolute;
    width: 270px;
    height: 45px;
    left: 240px;
    top: 947px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #000000;

}
.viewallservices{
    position: absolute;
    width: 180px;
    height: 23px;
    left: 240px;
    top: 1007px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.15em;
    text-decoration-line: underline;

    color: #000000;
}
.diagnostic{
    position: absolute;
    width: 386px;
    height: 500px;
    left: 240px;
    top: 1090px;

    background: url(../Img/diagnostic.png);
}
.tiresandwheels{
    position: absolute;
    width: 386px;
    height: 500px;
    left: 647px;
    top: 1090px;

    background: url(../Img/iStock-12276099371.png);
}
.engines{
    position: absolute;
    width: 386px;
    height: 500px;
    left: 1055px;
    top: 1090px;

    background: url(../Img/iStock-544604266-11.png);
}
.plus{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 40%;
    top: 40%;
}
.annualcheckups{
    position: absolute;
    width: 269px;
    height: 108px;
    left: 25px;
    top: 68%;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    letter-spacing: 0.23em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.diagnostic2{
    position: absolute;
    width: 167px;
    height: 30px;
    left: 240px;
    top: 1611px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    letter-spacing: 0.23em;
    text-transform: uppercase;

    color: #000000;
}
.treesandwheels2{
    position: absolute;
    width: 225px;
    height: 30px;
    left: 646px;
    top: 1611px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    letter-spacing: 0.23em;
    text-transform: uppercase;

    color: #000000;
}
.engines2{
    position: absolute;
    width: 112px;
    height: 30px;
    left: 1055px;
    top: 1611px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    letter-spacing: 0.23em;
    text-transform: uppercase;

    color: #000000;
}
.rectangle11{
    position: absolute;
    width: 1680px;
    height: 665px;
    left: 0px;
    top: 1739px;

    background: #171616;
}
.weundastandhow{
    position: absolute;
    width: 490px;
    height: 135px;
    left: 239px;
    top: 100px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.carrepires{
    position: absolute;
    width: 506px;
    height: 180px;
    left: 239px;
    top: 300px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */

    letter-spacing: 0.23em;

    color: #B7B7B7;
    }
.moreaboutus{
    position: absolute;
    width: 185px;
    height: 27px;
    left: 241px;
    top: 500px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    letter-spacing: 0.15em;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #FFFFFF;
}
.motobike{
    position: absolute;
    width: 513px;
    height: 342px;
    left: 927px;
    top: 200px;
}
.fasteasy{
    position: absolute;
    width: 991px;
    height: 167px;
    left: 354px;
    top: 2503px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 148px;
    line-height: 150%;
    /* or 222px */

    text-transform: uppercase;

    color: #000000;
}
.ourworkprocess{
    position: absolute;
    width:510px;
    height: 60px;
    left: 599px;
    top: 2810px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    /* identical to box height, or 60px */

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #000000;
}
.rectangle8{
    position: absolute;
    width: 386px;
    height: 150px;
    left: 241px;
    top: 2950px;

    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    transform: rotate(1deg);
}
.rectangle9{
    position: absolute;
    width: 386px;
    height: 150px;
    left: 646px;
    top: 2955px;

    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    transform: rotate(1deg);
}
.rectangle10{
    position: absolute;
    width: 386px;
    height: 150px;
    left: 1054px;
    top: 2955px;

    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    transform: rotate(1deg);
}
.requestyourself{
    position: absolute;
    width: 280px;
    height: 27px;
    left: 50px;
    top: 20px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #000000;
}
.wewillbe{
    position: absolute;
    width: 332px;
    height: 51px;
    left: 50px;
    top: 80px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */


    color: #B7B7B7;
}
.wearecarguys{
    position: absolute;
    width: 228px;
    height: 27px;
    left: 50px;
    top: 80px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    color: #B7B7B7;
}
.high{
    position: absolute;
    width: 315px;
    height: 27px;
    left: 50px;
    top: 80px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    color: #B7B7B7;
}
.prefinal{
    position: absolute;
    width: 1679px;
    height: 710px;
    left: 1px;
    top: 3129px;

    background: #171616;
}
.contactus{
    position: absolute;
    width: 243px;
    height: 41.56px;
    left: 232px;
    top: 100px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    /* or 45px */

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.name{
    position: absolute;
    width: 53px;
    height: 23px;
    left: 232px;
    top: 250px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* identical to box height, or 22px */

    letter-spacing: 0.15em;

    color: #FFFFFF;
}
.line1{
    position: absolute;
    width: 197px;
    height: 1px;
    left: 232px;
    top: 300px;

    background: #FFFFFF;
}
.lastname{
    position: absolute;
    width: 100px;
    height: 23px;
    left: 475px;
    top: 250px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* identical to box height, or 22px */

    letter-spacing: 0.15em;

    color: #FFFFFF;
}
.line2{
    position: absolute;
    width: 197px;
    height: 1px;
    left: 475px;
    top: 300px;

    background: #FFFFFF;
}
.email{
    position: absolute;
    width: 50px;
    height: 23px;
    left: 232px;
    top: 350px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* identical to box height, or 22px */

    letter-spacing: 0.15em;

    color: #FFFFFF;
}
.line3{
    position: absolute;
    width: 197px;
    height: 1px;
    left: 232px;
    top: 400px;

    background: #FFFFFF;
}
.message{
    position: absolute;
    width: 125px;
    height: 21.2px;
    left: 232px;
    top: 500px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* or 22px */

    letter-spacing: 0.15em;

    color: #FFFFFF;
}
.bigline{
    position: absolute;
    width: 440px;
    height: 0.79px;
    left: 232px;
    top: 600px;

    background: #FFFFFF;
}
.send{
    position: absolute;
    width: 198px;
    height: 50px;
    left: 232px;
    top: 650px;

    background: #DB2512;
}
.SEND{
    position: absolute;
    width: 47px;
    height: 27px;
    left: 60px;
    top: 0px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    text-transform: uppercase;

    color: #FFFFFF;
}
.autotheme2021{
    position: absolute;
    width: 364px;
    height: 23px;
    left: 232px;
    top: 3860px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* identical to box height, or 22px */

    letter-spacing: 0.15em;

    color: #000000;
}
.telephone{
    position: absolute;
    width: 45px;
    height: 18px;
    left: 475px;
    top: 350px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    letter-spacing: 0.15em;

    color: #FFFFFF;
}
.number{
    position: absolute;
    width: 89px;
    height: 23px;
    left: 475px;
    top: 360px;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    /* identical to box height, or 22px */

    letter-spacing: 0.15em;

    color: #FFFFFF;
}
.line4{
    position: absolute;
    width: 197px;
    height: 1px;
    left: 475px;
    top: 400px;

    background: #FFFFFF;
}